
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/UILayout/loginRegisterUILayout.cshtml";
}

<img class="wave" src="/login/img/wave.svg">
<div class="container">
    <div class="img">
        <img src="/login/img/personalization.svg">
    </div>
    <div class="login-container">
        <form>
            <h2>Hesabı Kurtar</h2>
            <p>Eposta adresinizi giriniz</p>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-envelope"></i>
                </div>
                <div>
                    <h5>Eposta</h5>
                    <input class="input" type="email">
                </div>
            </div>
            <input type="submit" class="btn" value="Gönder">
            <div class="account">
                <a href="/Management/Login/">Giriş</a>
                <p>ekranına dönün.</p>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="/login/js/main.js"></script>