@model RegisterDto

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/UILayout/loginRegisterUILayout.cshtml";
}

@section Scripts 
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<img class="wave" src="/login/img/wave.svg">
<div class="container">
    <div class="img">
        <img src="/login/img/login-mobile.svg">
    </div>
    <div class="login-container">
        <form method="post" asp-action="Register">
            <h2>Kayıt Ol</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div>
                    <input class="input" asp-for="UserName" type="text" placeholder="Ad Soyad">
                </div>
            </div>
            <div class="input-div two">
                <div class="i">
                    <i class="fas fa-envelope"></i>
                </div>
                <div>
                    <input class="input" asp-for="Email" type="email" placeholder="Eposta">
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-phone"></i>
                </div>
                <div>
                    <input class="input" asp-for="Phone" type="text" placeholder="Telefon">
                </div>
            </div>
            <div class="input-div two">
                <div class="i">
                    <i class="fas fa-key"></i>
                </div>
                <div>
                    <input class="input" asp-for="Password" type="password" placeholder="Şifre">
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-key"></i>
                </div>
                <div>
                    <input class="input" asp-for="PasswordCheck" type="password" placeholder="Şifreyi Onayla">
                </div>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn-action">Kayıt Ol</button>
            </div>
            <div class="account">
                <p>Zaten hesabınız var mı?</p>
                <a href="/Management/Login/">Giriş Yap</a>
            </div>
            <div class="social my-3">
                <p>Veya:</p>
                <div class="social-icons google">
                    <a href="#"><img src="/login/img/google.png">Google İle Giriş Yap</a>
                </div>
            </div>
            <div id="modal-terms" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Termos e serviços</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Iaculis at erat pellentesque adipiscing commodo. Adipiscing
                        at in tellus integer feugiat scelerisque. Duis at consectetur lorem donec massa. Lacus vel
                        facilisis volutpat est velit. Faucibus turpis in eu mi bibendum.
                    </p>
                    <p>
                        Mus mauris vitae ultricies leo integer. Gravida dictum fusce ut placerat orci nulla
                        pellentesque dignissim enim. Tempus egestas sed sed risus pretium quam vulputate. Nec
                        tincidunt praesent semper feugiat nibh sed.
                    </p>
                    <p>
                        Sed odio morbi quis commodo. Purus semper eget duis at tellus at. Et netus et malesuada fames
                        ac. Dictum sit amet justo donec enim diam vulputate ut pharetra.
                    </p>
                    <p>
                        Consequat interdum varius sit amet mattis vulputate enim nulla aliquet. Praesent tristique
                        magna sit amet purus gravida. In cursus turpis massa tincidunt dui ut ornare lectus.
                        Tristique risus nec feugiat in fermentum posuere urna nec.
                    </p>
                    <p>
                        Non consectetur a erat nam. Tempor id eu nisl nunc mi ipsum faucibus vitae aliquet. Nec dui
                        nunc mattis enim ut tellus elementum sagittis. 
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
