@model CreateTestimonialDto

@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Referans Girişi</h4>
                        <p class="card-subtitle mb-4">
                            Eklemek istediğiniz yeni referansın bilgilerini lütfen doğru giriniz ve kaydet butonuna basınız.
                        </p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputName">Referans Ad ve Soyad</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Adı Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputTitle">Unvan</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Unvanı Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputImageUrl">Referans Resim URL Adresi</label>
                                <input type="file" class="form-control" id="exampleInputImageUrl" asp-for="ImageUrl" placeholder="Referans Resim URL Adresi">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputComment">Referans Yorumu</label>
                                <textarea rows="5" asp-for="Comment" class="form-control" placeholder="Referans Yorumu"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Referansı Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>