@model UpdateSocialMediaDto

@{
    ViewData["Title"] = "UpdateSocialMedia";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Sosyal Medya Hesabını Güncelleme</h4>
                        <p class="card-subtitle mb-4">
                            Bu alanda sosyal medya hesaplarınız hakındaki veriler hakkında güncelleme yapabilirsiniz.
                        </p>
                        <form method="post">
                            <input type="hidden" asp-for="SocialMediaId" />
                            <div class="form-group">
                                <label for="exampleInputName">Sosyal Medya Adı</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Sosyal Medya Adını Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUrl">Sosyal Medya URL Linki</label>
                                <input type="text" class="form-control" id="exampleInputUrl" asp-for="Url" placeholder="Sosyal Medya Linkini Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputIcon">İkon URL Adresi</label>
                                <input type="file" class="form-control" id="exampleInputIcon" asp-for="Icon" placeholder="İkon URL Giriniz">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Sosyal Medya Hesabını Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>