@model CreateCarDto

@{
    ViewData["Title"] = "CreateCar";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Araç Girişi</h4>
                        <p class="card-subtitle mb-4">Araç ile ilgili temel bilgileri eksiksiz doldurmanız önemlidir.Veri girişlerinden sonra kaydet butonuna tıklayarak işlemi tamamlayabilirsiniz.</p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputBrand">Marka</label>
                                @Html.DropDownListFor(x => x.BrandId, (List<SelectListItem>)ViewBag.brandValues, new {@class="form-control"})
                            </div>
                            <div class="form-group">
                                <label for="exampleInputModel">Model</label>
                                <input type="text" class="form-control" id="exampleInputModel" asp-for="Model" placeholder="Model Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputCoverImageUrl">Kapak Fotoğrafı</label>
                                <input type="text" class="form-control" id="exampleInputCoverImageUrl" asp-for="CoverImageUrl" placeholder="Fotoğraf Linkini Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputMileage">Kilometre</label>
                                <input type="text" class="form-control" id="exampleInputMileage" asp-for="Mileage" placeholder="Kilometre Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputTransmission">Vites Türü</label>
                                <input type="text" class="form-control" id="exampleInputTransmission" asp-for="Transmission" placeholder="Vites Türünü Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputSeat">Koltuk Sayısı</label>
                                <input type="number" class="form-control" id="exampleInputSeat" asp-for="Seat" placeholder="Koltuk Sayısı Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputLuggage">Bagaj Hacmi</label>
                                <input type="number" class="form-control" id="exampleInputLuggage" asp-for="Luggage" placeholder="Bagaj Hacmi Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFuel">Yakıt Türü</label>
                                <input type="text" class="form-control" id="exampleInputFuel" asp-for="Fuel" placeholder="Yakıt Türü Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputBigImageUrl">Büyük Kapak Fotoğrafı</label>
                                <input type="text" class="form-control" id="exampleInputBigImageUrl" asp-for="BigImageUrl" placeholder="Büyük Kapak Fotoğrafı Giriniz">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Aracı Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
