@model List<UserDto>

@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Kullanıcılar</h4>
                        <p class="card-subtitle mb-4">
                            Sitede kaydı bulunan kullanıcıların bilgilerini içeren bu listede kullanıcılar ile ilgili detayları görebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Kullanıcı Adı</th>
                                        <th>Eposta</th>
                                        <th>Telefon No</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.UserName</td>
                                            <td>@item.Email</td>
                                            <td>@item.PhoneNumber</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>